@import "tailwindcss";

@layer base{

}


@keyframes marquee {

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }

}

 @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
  .animate-marquee {
    animation: marquee 130s linear infinite;
  }




  @keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

@keyframes borderMove {
  0% { background-position: 0%; }
  100% { background-position: 300%; }
}

.animated-border {
  background: linear-gradient(90deg, #10b981, #ffffff, #34d399, #10b981);
  background-size: 300%;
  animation: borderMove 4s linear infinite;
}

/* npx @tailwindcss/cli -i ./src/assets/stylesheet/main.css -o ./src/assets/stylesheet/output.css --watch */


